@import '~/css/app.css';

.hero {
  position: relative;
  height: 50vh;
  margin: var(--margin-base);
}

.hero__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.hero__text-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero__text-title {
  margin-bottom: 2rem;
  white-space: balance;
}
