@import '~/css/app.css';

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-base);
  background-color: var(--primary-dark-5);
  border-radius: var(--border-radius);
  margin: var(--margin-base);
}

.nav-container__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav-container__button {
  color: var(--text-color);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.connect-button {
  background-color: var(--primary-light-1);
}

.nav-container__button:hover {
  background-color: var(--primary-light-2);
}
