@import '~/css/app.css';

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem 0;
  margin-inline: 5rem;
  background-color: var(--background-color-light);
}
